<div class="section-block replicable-content pt-60 pb-30 call-to-action-2 call-to-action-2-1 bkg-grey-ultralight background-cover">
  <div class="row">
    <div class="column width-6 offset-1 right color-white center-on-mobile">
      <p>Never miss a special offer ever again!</p>
    </div>
    <div class="column width-4 left center-on-mobile">
      <a href="#" class="button text-uppercase bkg-purple border-hover-white color-white color-hover-white mb-mobile-30">Newsletter Signup</a>
    </div>
  </div>
</div>
