<footer class="footer">
  <div class="footer-top">
    <div class="row">
      <div class="column width-4">
        <div class="widget">
          <h4 class="widget-title weight-light"><%= t("footer.name") %></h4>
          <p>
            <span class="text-small weight-bold color-grey-light">+48 12 345 01 56</span><br>
            <a href="mailto:info@radiokit.org">info@foundation-radiokit.org</a>
          </p>
        </div>
      </div>
      <div class="column width-4">
        <div class="widget">
          <h4 class="widget-title"><%= t("footer.products") %></h4>
          <ul>
            <!--<li>
              <a href="contact.html">Knowledge database</a>
            </li>-->
            <li>
              <a href="open-source.html">Open Source</a>
            </li>
            <li>
              <a href="Soundmapping.html">Projects</a>
            </li>
            <li>
              <a href="chronicle.html">About</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column width-4">
        <div class="widget">
          <h4 class="widget-title"><%= t("footer.companydata") %></h4>
          <ul>
            <li>
              Foundation Radiokit
            </li>
            <li>
              ul. Bytomska 4/7,
            </li>
            <li>
              30-075, Kraków, Poland
            </li>
            <li>
              KRS 400497
            </li>
            <li>
              NIP 6772365331
            </li>
            <!--<li>
              <a href="#">Frequently Asked Questions</a>
            </li>
            <li>
              <a href="#">Find contact in your country</a>
            </li>-->
          </ul>
        </div>
      </div>
    <!--  <div class="column width-3">
        <div class="widget">
          <h4 class="widget-title">Check Our Apps</h4>
          <p>Checkout apps we published</p>
          <p>
            <a class="button button-info medium rounded bkg-black bkg-hover-purple color-white color-hover-white no-margin-bottom"><span class="icon-app-store medium left"></span><span class="button-content"><small>Download On The</small>AppStore</span></a>
          </p>
        </div>
      </div>-->
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="column width-12">
        <div class="footer-bottom-inner center">
          <p class="copyright pull-left clear-float-on-mobile">
            &copy; Foundation Radiokit All Rights Reserved. <a href="#">Terms &amp; Conditions</a> | <a href="#">Cookie policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
