<footer class="footer">
  <div class="footer-top">
    <div class="row">
      <div class="column width-3">
        <div class="widget">
          <h4 class="widget-title weight-light">RadioKit Ltd</h4>
          <p>
            <span class="text-small weight-bold color-grey-light">+48 22 244 37 55</span><br>
            Mon-Fri: 9am to 9pm UTC
          </p>
        </div>
      </div>
      <div class="column width-3">
        <div class="widget">
          <h4 class="widget-title">Trending Offers</h4>
          <ul>
            <li>
              <a href="#">Free Trial</a>
            </li>
            <li>
              <a href="electron.html">Electron</a>
            </li>
            <li>
              <a href="#">Chronicle</a>
            </li>
            <li>
              <a href="#">Horn</a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column width-3">
        <div class="widget">
          <h4 class="widget-title">More Links</h4>
          <ul>
            <li>
              <a href="#">About RadioKit</a>
            </li>
            <li>
              <a href="#">Support contacts</a>
            </li>
            <li>
              <a href="#">Company data</a>
            </li>
            <li>
              <a href="#">The one who trust us</a>
            </li>
            <li>
              <a href="#">Frequently Asked Questions</a>
            </li>
            <li>
              <a href="#">Find contact in your country</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column width-3">
        <div class="widget">
          <h4 class="widget-title">Get Our App</h4>
          <p>Checkout Electron App&#8482; Today!</p>
          <p>
            <a class="button button-info medium rounded bkg-black bkg-hover-purple color-white color-hover-white no-margin-bottom"><span class="icon-app-store medium left"></span><span class="button-content"><small>Download On The</small>AppStore</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="column width-12">
        <div class="footer-bottom-inner center">
          <p class="copyright pull-left clear-float-on-mobile">
            &copy; RadioKit Ltd All Rights Reserved. <a href="#">Terms &amp; Conditions</a> | <a href="#">Cookie policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
