<footer class="footer">
  <div class="footer-top">
    <div class="row">
      <div class="column width-4">
        <div class="widget">
          <h4 class="widget-title weight-light"><%= t("footer.name") %></h4>
          <p>
            <span class="text-small weight-bold color-grey-light">+44 20 3289 8890</span><br>
            <a href="mailto:info@radiokit.org">info@radiokit.org</a>
          </p>
        </div>
      </div>
      <div class="column width-4">
        <div class="widget">
          <h4 class="widget-title"><%= t("footer.products") %></h4>
          <ul>
            <li>
              <a href="contact.html">Free Trial</a>
            </li>
            <li>
              <a href="electron.html">Electron</a>
            </li>
            <li>
              <a href="freezer.html">Freezer</a>
            </li>
            <li>
              <a href="chronicle.html">Chronicle</a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column width-4">
        <div class="widget">
          <h4 class="widget-title"><%= t("footer.companydata") %></h4>
          <ul>
            <li>
              Radiokit Ltd
            </li>
            <li>
              Craven House, 40-44 Uxbridge Road,
            </li>
            <li>
              W5 2BS London, United Kingdom
            </li>
            <li>
              Company number 09998182
            </li>
            <!--<li>
              <a href="#">Frequently Asked Questions</a>
            </li>
            <li>
              <a href="#">Find contact in your country</a>
            </li>-->
          </ul>
        </div>
      </div>
    <!--  <div class="column width-3">
        <div class="widget">
          <h4 class="widget-title">Check Our Apps</h4>
          <p>Checkout apps we published</p>
          <p>
            <a class="button button-info medium rounded bkg-black bkg-hover-purple color-white color-hover-white no-margin-bottom"><span class="icon-app-store medium left"></span><span class="button-content"><small>Download On The</small>AppStore</span></a>
          </p>
        </div>
      </div>-->
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="column width-12">
        <div class="footer-bottom-inner center">
          <p class="copyright pull-left clear-float-on-mobile">
            &copy; RadioKit Ltd All Rights Reserved. <a href="#">Terms &amp; Conditions</a> | <a href="#">Cookie policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
