<footer class="footer">
  <div class="footer-top">
    <div class="row">
      <div class="column width-3">
        <div class="widget">
          <h4 class="widget-title weight-light">RadioKit Ltd</h4>
          <p>
            <span class="text-small weight-bold color-grey-light">+48 22 244 37 55</span><br>
            Mon-Fri: 9am to 9pm UTC
          </p>
        </div>
      </div>
      <div class="column width-3">
        <div class="widget">
          <h4 class="widget-title">Trending Offers</h4>
          <ul>
            <li>
              <a href="#">Yosemite, U.S - $229</a>
            </li>
            <li>
              <a href="#">Grand Canyon, U.S - $624</a>
            </li>
            <li>
              <a href="#">Trondheim, Norway - $424</a>
            </li>
            <li>
              <a href="#">Reykjavik, Iceland - $224</a>
            </li>
            <li>
              <a href="#">Nuuk, Greenland - $324</a>
            </li>
            <li>
              <a href="#">Mount Rushmore, U.S - $454</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column width-3">
        <div class="widget">
          <h4 class="widget-title">More Links</h4>
          <ul>
            <li>
              <a href="#">About Sartre World</a>
            </li>
            <li>
              <a href="#">Customer Service</a>
            </li>
            <li>
              <a href="#">Company Affiliations</a>
            </li>
            <li>
              <a href="#">Award Miles Program</a>
            </li>
            <li>
              <a href="#">Frequently Asked Questions</a>
            </li>
            <li>
              <a href="#">Contact An Agent</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column width-3">
        <div class="widget">
          <h4 class="widget-title">Get Our App</h4>
          <p>Get your favourite trips right on your phone. Download our Traveler App&#8482; Today!</p>
          <p>
            <a class="button button-info medium rounded bkg-black bkg-hover-purple color-white color-hover-white no-margin-bottom"><span class="icon-app-store medium left"></span><span class="button-content"><small>Download On The</small>AppStore</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="column width-12">
        <div class="footer-bottom-inner center">
          <p class="copyright pull-left clear-float-on-mobile">
            &copy; RadioKit Ltd All Rights Reserved. <a href="#">Terms &amp; Conditions</a> | <a href="#">Cookie policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
