<div class="section-block replicable-content pt-60 pb-30 call-to-action-2 call-to-action-2-1 bkg-grey-ultralight background-cover">
  <div class="row">
    <div class="column width-11 offset-1 right color-white center-on-mobile">
      <p><%= t("actioncalls.specialoffer") %></p>
    </div>
    <div class="column width-12 right center-on-mobile">
      <a href="#" class="button text-uppercase bkg-black border-hover-white color-white color-hover-white mb-mobile-30"><%= t("actioncalls.newsletter") %></a>
    </div>
  </div>
</div>
