<section class="section-block replicable-content">
  <div class="row">
    <div class="column width-6 offset-3 center">
      <h2>Test for Free</h2>
      <p class="lead mb-50">We definitely have a product <br>that you need.</p>
    </div>
    <div class="column width-10 offset-1">
      <div class="pricing-table columns-3 horizon" data-animate-in="opacity:0;transY:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
        <div class="pricing-table-column">
          <div class="pricing-table-header">
            <h2 class="weight-bold">Free trial</h2>
          </div>
          <div class="pricing-table-price bkg-white color-grey no-margin-bottom">
            <h4>
              <span class="currency">$</span>0.00<span class="interval">/mo</span>
            </h4>
          </div>
          <ul class="pricing-table-options">
            <li>LowFi Sound Quality</li>
            <li>Online Listening</li>
            <li>Advertisng</li>
            <li>1000 Song Play limit</li>
            <li>200 Video Play limit</li>
          </ul>
          <div class="pricing-table-footer">
            <button class="border-purple bkg-hover-purple color-purple color-hover-white">Sign Up</button>
          </div>
        </div>
        <div class="pricing-table-column bkg-purple">
          <div class="pricing-table-header color-white">
            <h2 class="weight-bold">Premium Edition</h2>
          </div>
          <div class="pricing-table-price bkg-purple no-margin-bottom">
            <h4>
              <span class="currency">$</span>9.99<span class="interval">/mo</span>
            </h4>
          </div>
          <ul class="pricing-table-options color-white">
            <li>HiFi Sound Quality</li>
            <li>On/Offline Listening</li>
            <li>No Advertising</li>
            <li>Infinite Song Plays</li>
            <li>100K Video Play Limit</li>
          </ul>
          <div class="pricing-table-footer">
            <button class="border-white bkg-hover-white color-white color-hover-purple">Sign Up</button>
          </div>
        </div>
        <div class="pricing-table-column">
          <div class="pricing-table-header">
            <h2 class="weight-bold">Pro Edition</h2>
          </div>
          <div class="pricing-table-price bkg-white color-grey no-margin-bottom">
            <h4>
              <span class="currency">$</span>19.99<span class="interval">/mo</span>
            </h4>
          </div>
          <ul class="pricing-table-options">
            <li>HiFi Sound Quality</li>
            <li>On/Offline Listening</li>
            <li>No Advertising</li>
            <li>Infinite Song Plays</li>
            <li>300K Video Plays</li>
          </ul>
          <div class="pricing-table-footer">
            <button class="border-purple bkg-hover-purple color-purple color-hover-white">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <div class="column width-10 offset-1 center">
      <p class="transparent-element weight-bold">*Sign up for free - Upgrade to or Cancel any plan within 30 days</p>
    </div>
  </div>
</section>
