<section class="section-block replicable-content">
  <div class="row equalize">
    <div class="column width-5 offset-1">
      <div class="feature-content">
        <div class="feature-content-inner">
          <h3 class="mb-30">Subscribe more!</h3>
          <p class="lead">If you subscribe more of our products you're getting progressive discounts</p>
          <p>With each added product you're getting +10% discount on total subscription</p>
          <p class="transparent-element weight-bold mb-mobile-50">*Sign up for free - Cancel any paid plan within 30 days</p>
        </div>
      </div>
    </div>
    <div class="column width-4 offset-1 center">
      <div class="pricing-table columns-1 border-white color-white">
        <div class="pricing-table-column callout bkg-purple">
          <div class="pricing-table-header color-white">
            <h2 class="weight-bold text-uppercase">Demo Radiokit</h2>
          </div>
          <div class="pricing-table-price bkg-purple color-white no-padding-bottom mb-10">
            <h4>
              <span class="currency">$</span>0.00
            </h4>
            <span class="interval">per month</span>
          </div>
          <ul class="pricing-table-options color-white mb-10">
            <li class="text-small font-alt-1"><span class="weight-bold">check out</span><br>all of our products for free!</li>
          </ul>
          <div class="pricing-table-footer">
            <button class="border-white bkg-hover-charcoal color-white color-hover-white text-uppercase">Count me in!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
