<section class="section-block replicable-content">
  <div class="row">
    <div class="column width-6 offset-3 center">
      <h2>Test for Free</h2>
      <p class="lead mb-50">We definitely have a product <br>that you need.</p>
    </div>
    <div class="column width-10 offset-1">
      <div class="pricing-table columns-4 horizon" data-animate-in="opacity:0;transY:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
        <div class="pricing-table-column">
          <div class="pricing-table-header">
            <h2 class="weight-bold">Free trial*</h2>
          </div>
          <div class="pricing-table-price bkg-white color-grey no-margin-bottom">
            <h4>
              <span class="currency">$</span>0.00<span class="interval">/mo</span>
            </h4>
          </div>
          <ul class="pricing-table-options">
            <li>Choose whatever product</li>
            <li>or all of them</li>
            <li>Let us know</li>
            <li>&</li>
            <li>Enjoy free testing</li>
          </ul>
          <div class="pricing-table-footer">
           <a href="contact.html">
            <button class="border-purple bkg-hover-purple color-purple color-hover-white">Sign Up</button>
          </a>
          </div>
        </div>
        <div class="pricing-table-column bkg-purple">
          <div class="pricing-table-header color-white">
            <h2 class="weight-bold">ELectron</h2>
          </div>
          <div class="pricing-table-price bkg-purple no-margin-bottom">
            <h4>
              <span class="currency">$</span>199.99<span class="interval">/mo</span>
            </h4>
          </div>
          <ul class="pricing-table-options color-white">
            <li>Unlimited transmissions</li>
            <li>!00% cloud solution</li>
            <li>Unlimited Clients</li>
            <li>All platforms</li>
            <li>Free personal tutorials</li>
          </ul>
          <div class="pricing-table-footer">
           <a href="contact.html">
            <button class="border-white bkg-hover-white color-white color-hover-purple">Sign Up</button>
           </a>
          </div>
        </div>
        <div class="pricing-table-column">
          <div class="pricing-table-header">
            <h2 class="weight-bold">Freezer</h2>
          </div>
          <div class="pricing-table-price bkg-white color-grey no-margin-bottom">
            <h4>
              <span class="currency">$</span>99.99<span class="interval">/mo</span>
            </h4>
          </div>
          <ul class="pricing-table-options">
            <li>Unlimited space</li>
            <li>100% web-monitored</li>
            <li>Up to 4 channels</li>
            <li>Easy access</li>
            <li>Full integration</li>
          </ul>
          <div class="pricing-table-footer">
           <a href="contact.html">
            <button class="border-purple bkg-hover-purple color-purple color-hover-white">Sign Up</button>
          </a>
          </div>
        </div>
        <div class="pricing-table-column bkg-purple">
          <div class="pricing-table-header color-white">
            <h2 class="weight-bold">Chronicle</h2>
          </div>
          <div class="pricing-table-price bkg-purple no-margin-bottom">
            <h4>
              <span class="currency">$</span>80.00<span class="interval">/mo</span>
            </h4>
          </div>
          <ul class="pricing-table-options color-white">
            <li>100% royalty free</li>
            <li>Style adjusting</li>
            <li>Unlimited space</li>
            <li>100% web-based</li>
            <li>Free personal tutorials</li>
          </ul>
          <div class="pricing-table-footer">
            <a href="contact.html">
            <button class="border-white bkg-hover-white color-white color-hover-purple">Sign Up</button>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column width-10 offset-1 center">
      <p class="transparent-element weight-bold">*Sign up for free to any of our products or all of them for one month.</p>
    </div>
  </div>
</section>
