<div class="section-block replicable-content pt-60 pb-30 call-to-action-2 call-to-action-2-1 bkg-grey-ultralight background-cover">
  <div class="row">
    <div class="column width-6 left center-on-mobile">
        <p><%= t("actioncalls.questions")%></p>
      <a href="contact.html" class="button text-uppercase bkg-grey border-hover-white color-white color-hover-white mb-mobile-30 align-left"><%= t("actioncalls.contact")%></a>
    </div>
    <div class="column width-6 right center-on-mobile">
      <p><%= t("actioncalls.specialoffer") %></p>
      <a href="#" class="button text-uppercase bkg-grey border-hover-white color-white color-hover-white mb-mobile-30"><%= t("actioncalls.newsletter") %></a>
    </div>
  </div>




  </div>
