<nav class="navigation nav-block secondary-navigation nav-right">
  <ul>
    <!-- Dropdown Cart Overview
     -->

    <li class="aux-navigation hide">
      <!-- Aux Navigation -->
      <a href="#" class="navigation-show side-nav-show nav-icon">
        <span class="icon-menu"></span>
      </a>
    </li>
  </ul>
</nav>
