<nav class="navigation nav-block secondary-navigation nav-right">
  <ul>
    <!-- Dropdown Cart Overview
    <li>
      <div class="dropdown">
        <a href="#" class="nav-icon cart button no-page-fade"><span class="cart-indication"><span class="icon-shopping-cart"></span> <span class="badge">3</span></span></a>
        <ul class="dropdown-list custom-content cart-overview">
          <li class="cart-item">
            <a href="single-product.html" class="product-thumbnail">
              <img src="images/design-agency/portfolio/grid/no-margins/project-6-square.jpg" alt="" />
            </a>
            <div class="product-details">
              <a href="single-product.html" class="product-title">
                Cotton Jump Suit
              </a>
              <span class="product-quantity">2 x</span>
              <span class="product-price"><span class="currency">$</span>15.00</span>
              <a href="#" class="product-remove icon-cancel"></a>
            </div>
          </li>
          <li class="cart-item">
            <a href="single-product.html" class="product-thumbnail">
              <img src="images/design-agency/portfolio/grid/no-margins/project-7-square.jpg" alt="" />
            </a>
            <div class="product-details">
              <a href="single-product.html" class="product-title">
                Cotton Jump Suit
              </a>
              <span class="product-quantity">2 x</span>
              <span class="product-price"><span class="currency">$</span>15.00</span>
              <a href="#" class="product-remove icon-cancel"></a>
            </div>
          </li>
          <li class="cart-item">
            <a href="single-product.html" class="product-thumbnail">
              <img src="images/design-agency/portfolio/grid/no-margins/project-8-square.jpg" alt="" />
            </a>
            <div class="product-details">
              <a href="single-product.html" class="product-title">
                Cotton Jump Suit
              </a>
              <span class="product-quantity">2 x</span>
              <span class="product-price"><span class="currency">$</span>15.00</span>
              <a href="#" class="product-remove icon-cancel"></a>
            </div>
          </li>
          <li class="cart-subtotal">
            Sub Total
            <span class="amount"><span class="currency">$</span>15.00</span>
          </li>
          <li class="cart-actions">
            <a href="cart.html" class="view-cart">View Cart</a>
            <a href="checkout.html" class="checkout button small"><span class="icon-check"></span> Checkout</a>
          </li>
        </ul>
      </div>
    </li> -->
    <!-- Dropdown Search Module
    <li>
      <div class="dropdown">
        <a href="#" class="nav-icon search button no-page-fade"><span class="icon-magnifying-glass"></span></a>
        <div class="dropdown-list custom-content cart-overview">
          <div class="search-form-container site-search">
            <form action="#" method="get" novalidate>
              <div class="row">
                <div class="column width-12">
                  <div class="field-wrapper">
                    <input type="text" name="search" class="form-search form-element no-margin-bottom" placeholder="type &amp; hit enter...">
                    <span class="border"></span>
                  </div>
                </div>
              </div>
            </form>
            <div class="form-response"></div>
          </div>
        </div>
      </div>
    </li> -->

    <li class="aux-navigation hide">
      <!-- Aux Navigation -->
      <a href="#" class="navigation-show side-nav-show nav-icon">
        <span class="icon-menu"></span>
      </a>
    </li>
  </ul>
</nav>
