<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
  <div class="side-navigation-scroll-panel">
    <div class="side-navigation-inner">
      <div class="side-navigation-header">
        <div class="navigation-hide side-nav-hide">
          <a href="open-source.html">
            <span class="icon-cancel medium"></span>
          </a>
        </div>
      </div>
      <nav class="side-navigation">
        <ul>
          <!-- Dropdown Cart Overview
           -->
          <!-- Dropdown Search Module
          -->
          <li>
            <a href="https://facebook.com/RadioKitEngine" class="nav-icon">
              <span class="icon-facebook small"></span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/RadioKitEngine" class="nav-icon">
              <span class="icon-twitter small"></span>
            </a>
          </li>
          <li class="aux-navigation hide">
            <!-- Aux Navigation -->
            <a href="open-source.html" class="navigation-show side-nav-show nav-icon">
              <span class="icon-menu"></span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="navigation nav-block primary-navigation sub-menu-indicator nav-right no-margin-right">
        <ul>
          <li class="current contains-sub-menu">
            <a href="open-source.html">Open-source</a>
            <ul class="sub-menu">
              <li class="contains-sub-menu">
                <a href="open-source.html">Studio</a>
                <ul class="sub-menu">
                  <li>
                    <a href="open-source.html">Open-source</a>
                  </li>
                </ul>
                <li class="contains-sub-menu">
                  <a href="Soundmapping.html">Cloud</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="horn.html">Horn<span class="label">Coming Soon</span></a>
                    </li>
                    <li>
                      <a href="switch.html">Switch</a>
                    </li>
                  </ul>
              </li>

                <li class="contains-sub-menu">
                <a href="open-source.html">Mobile</a>
                <ul class="sub-menu">
                  <li>
                  <a href="open-source.html">Open-source Mobile</a>
                </li>
              </ul>

              <li class="contains-sub-menu current">
                <a href="raspi.html">Hardware</a>
                <ul class="sub-menu">
                  <li>
                  <a href="raspi.html">Raspberry Pi<span class="label">Soon</span></a>
                </li>
              </ul>

              </li>


              </li>
            </ul>
          </li>
          <li class="contains-sub-menu">
            <a href="Soundmapping.html">Projects</a>
            <ul class="sub-menu">
              <li>
                <a href="chronicle.html">Chronicle</a>
              </li>
              <li>
                <a href="frezzer.html">Soundmapping</a>
              </li>

            </ul>
          </li>
          <li class="contains-sub-menu">
            <a href="about.html">About</a>
            <!--<ul class="sub-menu">
              <li>
                <a href="product-subpage.html">FAQ</a>
              </li>
              <li>
                <a href="product-subpage.html">Forum</a>
              </li>
              <li>
                <a href="product-subpage.html">Technology</a>
              </li>
              <li>
                <a href="product-subpage.html">Downloads</a>
              </li>

            </ul>-->
          </li>
          <!--<li class="contains-sub-menu">
            <a href="product-subpage.html">Shop</a>
            <ul class="sub-menu">
              <li>
                <a href="product-subpage.html">Commercial</a>
              </li>
              <li>
                <a href="product-subpage.html">Community</a>
              </li>
              <li>
                <a href="product-subpage.html">Free</a>
              </li>

            </ul>
          </li>-->
          <!--
          <li class="contains-sub-menu sub-menu-right">
            <a href="product-subpage.html">Jobs</a>-->

          <li class="contains-sub-menu sub-menu-right">
            <a href="contact.html">Contact</a>

          </li>
          <!--<li class="contains-sub-menu sub-menu-right">
            <a href="product-subpage.html">Log in</a>-->
          </li>
        </ul>
      </nav>
      <div class="side-navigation-footer">
        <ul class="social-list list-horizontal">
          <li><a href="https://facebook.com/RadioKitEngine"><span class="icon-twitter small"></span></a></li>
          <li><a href="https://twitter.com/RadioKitEngine"><span class="icon-facebook small"></span></a></li>
        </ul>
        <p class="copyright no-margin-bottom">&copy; 2016 RadioKit Ltd</p>
      </div>
    </div>
  </div>
</aside>
