<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
  <div class="side-navigation-scroll-pane">
    <div class="side-navigation-inner">
      <div class="side-navigation-header">
        <div class="navigation-hide side-nav-hide">
          <a href="product-subpage.html">
            <span class="icon-cancel medium"></span>
          </a>
        </div>
      </div>
      <nav class="side-navigation">
        <ul>
          <!-- Dropdown Cart Overview
          <li>
            <div class="dropdown">
              <a href="#" class="nav-icon cart button no-page-fade"><span class="cart-indication"><span class="icon-shopping-cart"></span> <span class="badge">3</span></span></a>
              <ul class="dropdown-list custom-content cart-overview">
                <li class="cart-item">
                  <a href="single-product.html" class="product-thumbnail">
                    <img src="images/design-agency/portfolio/grid/no-margins/project-6-square.jpg" alt="" />
                  </a>
                  <div class="product-details">
                    <a href="single-product.html" class="product-title">
                      Cotton Jump Suit
                    </a>
                    <span class="product-quantity">2 x</span>
                    <span class="product-price"><span class="currency">$</span>15.00</span>
                    <a href="#" class="product-remove icon-cancel"></a>
                  </div>
                </li>
                <li class="cart-item">
                  <a href="single-product.html" class="product-thumbnail">
                    <img src="images/design-agency/portfolio/grid/no-margins/project-7-square.jpg" alt="" />
                  </a>
                  <div class="product-details">
                    <a href="single-product.html" class="product-title">
                      Cotton Jump Suit
                    </a>
                    <span class="product-quantity">2 x</span>
                    <span class="product-price"><span class="currency">$</span>15.00</span>
                    <a href="#" class="product-remove icon-cancel"></a>
                  </div>
                </li>
                <li class="cart-item">
                  <a href="single-product.html" class="product-thumbnail">
                    <img src="images/design-agency/portfolio/grid/no-margins/project-8-square.jpg" alt="" />
                  </a>
                  <div class="product-details">
                    <a href="single-product.html" class="product-title">
                      Cotton Jump Suit
                    </a>
                    <span class="product-quantity">2 x</span>
                    <span class="product-price"><span class="currency">$</span>15.00</span>
                    <a href="#" class="product-remove icon-cancel"></a>
                  </div>
                </li>
                <li class="cart-subtotal">
                  Sub Total
                  <span class="amount"><span class="currency">$</span>15.00</span>
                </li>
                <li class="cart-actions">
                  <a href="cart.html" class="view-cart">View Cart</a>
                  <a href="checkout.html" class="checkout button small"><span class="icon-check"></span> Checkout</a>
                </li>
              </ul>
            </div>
          </li> -->
          <!-- Dropdown Search Module
          <li>
            <div class="dropdown">
              <a href="#" class="nav-icon search button no-page-fade"><span class="icon-magnifying-glass"></span></a>
              <div class="dropdown-list custom-content cart-overview">
                <div class="search-form-container site-search">
                  <form action="#" method="get" novalidate>
                    <div class="row">
                      <div class="column width-12">
                        <div class="field-wrapper">
                          <input type="text" name="search" class="form-search form-element no-margin-bottom" placeholder="type &amp; hit enter...">
                          <span class="border"></span>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="form-response"></div>
                </div>
              </div>
            </div>
          </li> -->
          <li>
            <a href="https://facebook.com/RadioKitEngine" class="nav-icon">
              <span class="icon-facebook small"></span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/RadioKitEngine" class="nav-icon">
              <span class="icon-twitter small"></span>
            </a>
          </li>
          <li class="aux-navigation hide">
            <!-- Aux Navigation -->
            <a href="product-subpage.html" class="navigation-show side-nav-show nav-icon">
              <span class="icon-menu"></span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="navigation nav-block primary-navigation sub-menu-indicator nav-right no-margin-right">
        <ul>
          <li class="current contains-sub-menu">
            <a href="product-subpage.html">Broadcasting</a>
            <ul class="sub-menu">
              <li class="contains-sub-menu">
                <a href="product-subpage.html">Studio</a>
                <!--<ul class="sub-menu">
                  <li>
                    <a href="product-subpage.html">Electron</a>
                  </li>
                  <li>
                    <a href="product-subpage.html">Mobile</a>
                  </li>
                  <li>
                    <a href="product-subpage.html">Cloud</a>
                  </li>
                  <li>
                    <a href="product-subpage.html" class="no-page-fade">Ubuntu Phone</a>
                  </li>
                </ul>-->
              </li>
              <!--<li class="contains-sub-menu">
                <a href="index-web-application.html">Horn<span class="label">Coming Soon</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="index-web-application.html">Enterprise</a>
                  </li>
                  <li>
                    <a href="index-web-application-2.html">Pro</a>
                  </li>
                  <li>
                    <a href="index-web-application-3.html">Basic</a>
                  </li>
                  <li>
                    <a href="#" class="no-page-fade">Demo</a>
                  </li>
                </ul>
              </li>
              <li class="contains-sub-menu">
                <a href="index-barber-shop.html">Chronicle</a>
                <!--<ul class="sub-menu">
                  <li>
                    <a href="index-barber-shop.html">Original</a>
                  </li>
                  <li>
                    <a href="index-barber-shop-2.html">Variation 2</a>
                  </li>
                  <li>
                    <a href="index-barber-shop-3.html">Variation 3</a>
                  </li>
                  <li>
                    <a href="index-barber-shop-one-page.html">One Page <span class="label">New</span></a>
                  </li>
                </ul>
              </li>-->
              <li class="contains-sub-menu">
                <a href="product-subpage.html">Mobile</a>
                <!--<ul class="sub-menu">
                  <li>
                    <a href="product-subpage.html">Linux</a>
                  </li>
                  <li>
                    <a href="product-subpage.html">Windows XP</a>
                  </li>
                  <li>
                    <a href="product-subpage.html">Windows 7</a>
                  </li>
                  <li>
                    <a href="product-subpage.html">Windows 8 and 10 </a>
                  </li>
                </ul>-->
              </li>
              <li class="contains-sub-menu current">
                <a href="product-subpage.html">Hardware<span class="label">Coming Soon</span></a>
                <!--<ul class="sub-menu">
                  <li>
                    <a href="index-travel-agency.html">Macbooks</a>
                  </li>
                  <li>
                    <a href="index-travel-agency-2.html">Ipads adn Iphones</a>
                  </li>
                  <li class="current">
                    <a href="index-travel-agency-3.html">Variation 3</a>
                  </li>
                  <li>
                    <a href="#" class="no-page-fade">One Page <span class="label">Coming Soon</span></a>
                  </li>
                </ul>-->
              </li>
              <li class="contains-sub-menu">
                <a href="product-subpage.html">Cloud<span class="label">Coming Soon</span></a>
                <!--<ul class="sub-menu">
                  <li>
                    <a href="index-restaurant.html">Original</a>
                  </li>
                  <li>
                    <a href="index-restaurant-2.html">Variation 2</a>
                  </li>
                  <li>
                    <a href="index-restaurant-3.html">Variation 3</a>
                  </li>
                  <li>
                    <a href="index-restaurant-one-page.html">One Page <span class="label">New</span></a>
                  </li>
                </ul>-->
              </li>
              <!--<li class="contains-sub-menu">
                <a href="index-resume.html">Resume <span class="label">New</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="index-resume.html">Original</a>
                  </li>
                  <li>
                    <a href="index-resume-2.html">Variation 2</a>
                  </li>
                  <li>
                    <a href="index-resume-3.html">Variation 3</a>
                  </li>
                  <li>
                    <a href="index-resume-one-page.html">One Page <span class="label">New</span></a>
                  </li>
                </ul>
              </li>-->
              <!--<li class="contains-sub-menu">
                <a href="index-photo-studio.html">Photo Studio</a>
                <ul class="sub-menu">
                  <li>
                    <a href="index-photo-studio.html">Original</a>
                  </li>
                  <li>
                    <a href="index-photo-studio-2.html">Variation 2</a>
                  </li>
                  <li>
                    <a href="index-photo-studio-3.html">Variation 3</a>
                  </li>
                  <li>
                    <a href="index-photo-studio-one-page.html">One Page <span class="label">New</span></a>
                  </li>
                </ul>
              </li>-->
              <!--<li class="contains-sub-menu">
                <a href="index-architecture.html">Architecture</a>
                <ul class="sub-menu">
                  <li>
                    <a href="index-architecture.html">Original</a>
                  </li>
                  <li>
                    <a href="index-architecture-2.html">Variation 2</a>
                  </li>
                  <li>
                    <a href="index-architecture-3.html">Variation 3</a>
                  </li>
                  <li>
                    <a href="#" class="no-page-fade">One Page <span class="label">Coming Soon</span></a>
                  </li>
                </ul>-->
              </li>
            </ul>
          </li>
          <li class="contains-sub-menu">
            <a href="product-subpage.html">Archiving</a>
            <ul class="sub-menu">
              <li>
                <a href="product-subpage.html">Chronicle</a>
              </li>
              <li>
                <a href="product-subpage.html">Freezer</a>
              </li>
              <!--<li>
                <a href="product-subpage.html">Chronicle</a>
              </li>-->
              <!--<li>
                <a href="contact-style-one.html">Contact Original</a>
              </li>
              <li>
                <a href="contact-style-two.html">Contact Style 2</a>
              </li>
              <li>
                <a href="contact-style-three.html">Contact Style 3</a>
              </li>
              <li>
                <a href="404.html">404</a>
              </li>
              <li>
                <a href="500.html">500</a>
              </li>
              <li>
                <a href="maintenance.html">Maintenance</a>
              </li>-->
            </ul>
          </li>
          <li class="contains-sub-menu">
            <a href="product-subpage.html">Support</a>
            <ul class="sub-menu">
              <li>
                <a href="product-subpage.html">FAQ</a>
              </li>
              <li>
                <a href="product-subpage.html">Forum</a>
              </li>
              <li>
                <a href="product-subpage.html">Technology</a>
              </li>
              <li>
                <a href="product-subpage.html">Downloads</a>
              </li>
              <!--<li>
                <a href="blog-wide-no-sidebar.html">Blog Without Sidebar</a>
              </li>
              <li>
                <a href="blog-masonry-creative.html">Blog Masonry Creative</a>
              </li>
              <li>
                <a href="blog-single-post-sidebar-right.html">Single Post Sidebar Right</a>
              </li>
              <li>
                <a href="blog-single-post-sidebar-left.html">Single Post Sidebar Left</a>
              </li>-->
            </ul>
          </li>
          <li class="contains-sub-menu">
            <a href="product-subpage.html">Shop</a>
            <ul class="sub-menu">
              <li>
                <a href="product-subpage.html">Commercial</a>
              </li>
              <li>
                <a href="product-subpage.html">Community</a>
              </li>
              <li>
                <a href="product-subpage.html">Free</a>
              </li>
              <!--<li>
                <a href="blog-sidebar-left-with-media.html">Blog Index Sidebar Left</a>
              </li>
              <li>
                <a href="blog-wide-no-sidebar.html">Blog Without Sidebar</a>
              </li>
              <li>
                <a href="blog-masonry-creative.html">Blog Masonry Creative</a>
              </li>
              <li>
                <a href="blog-single-post-sidebar-right.html">Single Post Sidebar Right</a>
              </li>
              <li>
                <a href="blog-single-post-sidebar-left.html">Single Post Sidebar Left</a>
              </li>-->
            </ul>
          </li>
          <li class="contains-sub-menu sub-menu-right">
            <a href="product-subpage.html">Jobs</a>
            <!--<ul class="sub-menu">
              <li class="contains-sub-menu">
                <a href="product-subpage.html">Broadcasting</a>
                <ul class="sub-menu">
                  <li>
                    <a href="product-subpage.html">Electron</a>
                  </li>
                  <li>
                    <a href="product-subpage.html">Raspberry Pi</a>
                  </li>
                  <li>
                    <a href="shop-sidebar-right.html">Shop Sidebar Right</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="product-subpage.html">Podcasting - Chronicle</a>
                <<ul class="sub-menu">
                  <li>
                    <a href="single-product-with-gallery.html">Product With Gallery</a>
                  </li>
                  <li>
                    <a href="single-product-with-header.html">Product With Header</a>
                  </li>
                  <li>
                    <a href="single-product-with-parallax.html">Product With Parallax</a>
                  </li>
                  <li>
                    <a href="single-product-on-sale.html">Product On Sale</a>
                  </li>
                  <li>
                    <a href="single-product-no-stock.html">Product Out Of Stock</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="product-subpage.html">Archiving Freezer</a>
              </li>
              <li>
                <a href="product-subpage.html">Listener's Apps</a>
              </li>
            </ul>
          </li>-->
          <li class="contains-mega-sub-menu">
            <a href="product-subpage.html">Contact</a>
            <!--<ul class="mega-sub-menu">
              <li>
                <ul>
                  <li>
                    <a href="elements.html#buttons"><span class="icon-grid"></span> Buttons</a>
                  </li>
                  <li>
                    <a href="elements.html#font-icons"><span class="icon-light-bulb"></span> Font Icons</a>
                  </li>
                  <li>
                    <a href="elements.html#accordions"><span class="icon-menu"></span> Accordions</a>
                  </li>
                  <li>
                    <a href="elements.html#tabs"><span class="icon-unread"></span> Tabs</a>
                  </li>
                  <li>
                    <a href="elements.html#progress-bars"><span class="icon-progress-one"></span> Progress Bars</a>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <a href="elements.html#blockquotes"><span class="icon-quote"></span> Blockquotes</a>
                  </li>
                  <li>
                    <a href="elements.html#feature-columns"><span class="icon-text"></span> Feature Columns</a>
                  </li>
                  <li>
                    <a href="elements.html#boxes"><span class="icon-notification"></span> Boxes</a>
                  </li>
                  <li>
                    <a href="elements.html#pricing-tables"><span class="icon-credit"></span> Pricing Tables</a>
                  </li>
                  <li>
                    <a href="elements.html#rollovers"><span class="icon-mouse-pointer"></span> Animated Rollovers</a>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <a href="elements.html#lightbox"><span class="icon-images"></span> Lightbox</a>
                  </li>
                  <li>
                    <a href="elements.html#slider"><span class="icon-image"></span> Slider</a>
                  </li>
                  <li>
                    <a href="elements.html#video"><span class="icon-video-camera"></span> Video</a>
                  </li>
                  <li>
                    <a href="elements.html#contact-form"><span class="icon-email"></span> Contact Form</a>
                  </li>
                  <li>
                    <a href="elements.html#newsletter-signup"><span class="icon-newsletter"></span> Newsletter Sign Up</a>
                  </li>
                </ul>
              </li>
            </ul>-->
          </li>
        <li class="contains-mega-sub-menu">
          <a href="product-subpage.html">Log in</a>
        </li>
        </ul>
      </nav>
      <div class="side-navigation-footer">
        <ul class="social-list list-horizontal">
          <li><a href="https://facebook.com/RadioKitEngine"><span class="icon-twitter small"></span></a></li>
          <li><a href="https://twitter.com/RadioKitEngine"><span class="icon-facebook small"></span></a></li>
        </ul>
        <p class="copyright no-margin-bottom">&copy; 2016 RadioKit Ltd</p>
      </div>
    </div>
  </div>
</aside>
