
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Feature Section 1 -->
				<section class="section-block bkg-charcoal feature-1">
					<div class="row no-padding-bottom">
						<div class="column width-6 offset-3">
							<div class="feature-content">
								<div class="feature-content-inner pt-50">
									<h1 class="color-white">Chronicle</h1>
									<p class="lead mb-30 color-grey-light">Your listener's private Youtube</p>
									<a href="contact.html" class="button medium bkg-purple border-hover-white color-white color-hover-white mb-70">
										<span class="icon-download left"></span>
										Sign up
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column width-12">
							<div class="feature-image">
								<img src="images/web-application/generic/electron+kozmic.jpg" alt="" />
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 1 End -->

				<!-- Feature Column Section -->
				<div class="section-block replicable-content">
					<div class="row">
						<div class="column width-8 offset-2 center">
							<h2 class="mb-30">Start Podcasting</h2>
							<p class="lead mb-70">Chronicle is designed for not loosing time, so editors can focus on content of their podcasts.</p>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-grey-ultralight">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-note color-purple"></span>
									<div class="feature-text">
										<h3>We take care of legal stuff while you do content</h3>
										<p class="mb-70 mb-mobile-30">You don't have to worry about royalties - it's all covered by attributing performers in episode content.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-play color-purple"></span>
									<div class="feature-text">
										<h3>Google Apps on board</h3>
										<p class="mb-70 mb-mobile-30">Reach new audience thanks to marketing unavailable for streamed/broadcasted radio</p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-play color-purple"></span>
									<div class="feature-text">
										<h3>Use cases</h3>
										<p class="mb-70 mb-mobile-30">Chronicle can work as your subpage with podcasts or as an independent radio website</p>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- Feature Column Section End -->

				<!-- Feature Section 2 -->
				<section class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/web-application/generic/electron+closeup.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white">Revolution finally done!</h2>
									<p class="lead color-grey-light">With Electron you can forget about expensive hardware codecs for transmission.</p>
									<p class="color-grey-light">Exchange your current setup for a good smartphone, tablet, or a laptop and manage all of your transmissions through a web-browser.
										<br>And forget about Shoutcast/Icecast connotations, as this technology has nothing to do with it. <br><br>
										 Sounds to beautiful to be true? </p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 2 End -->

				<!-- Stat Section 1

				Stat Section 1 -->

				<!-- Feature Section 2 -->
				<section class="section-block bkg-grey-ultralight feature-2 right">
					<div class="row equalize">
						<div align="center"><h2 class="color-black">Now a tasty techtalk:</h2></div><br>
						<div class="column width-5 offset-1">
							<div class="feature-content">
								<div class="feature-content-inner left horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<p>- The near-to-zero latency combined with website control allows to take live broadcasting to a new era.</p>
                  <p>- Built upon Erlang – the language for building cellural networks. Using Real Time Protocol and Real Time Streaming Protocol over UDP – no more unreliable TCP connections and shoutcast streams.</p>
                  <p>- User interface based on React.JS – technology created by facebook, made for the best comfort of snappy, collaborational communication.</p>
								</div>
							</div>
						</div>
						<div class="column width-5 offset-1">
							<div class="feature-content">
								<div class="feature-content-inner left horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
                  <p>- No hardware needed – everything is a software. Moreover: software that's easy to integrate thanks to open web & mobile-ready APIs.</p>
                  <p>- Relies on well-tested cloud technologies and infrastructure: Amazon, Azure & Digital Ocean clouds & the biggest European datacenter: OVH.</p>
									<p>- State-of-the art Opus 1.1 codec that brings better quality than HE-AAC+1 with ultra low-latency and packet loss concaelment.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 2 End -->
        <!-- Feature Section 3 -->
				<section class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div align="center">	<h2 class="mb-30 color-white">Even more juicy specification:</h2></div><br>
						<div class="column width-5 offset-1">
							<div class="feature-content">
								<div class="feature-content-inner left horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
								<p class="color-grey-light">Supported operating systems & architectures:<p>
                <p>Android 4.1 or newer, devices with ARM processor
                <br>Windows 7 or newer, 64-bit
                <br>Mac OS X 10.10 or newer, 64-bit (coming soon)
                <br>Ubuntu Linux 14.04 LTS, 64-bit (coming soon)</p>
								<p class="color-grey-light">Codecs:<p>
									<p>Opus 1.1 (RFC 6716)
                  <br>Packet Loss Concealment enabled
                  <br>Error Correction enabled
                  <br>Bitrate from 5 to 510 kbit/s
                  <br> - speech has broadcastable quality at 24 kbit/s
                  <br> - music has broadcastable quality at 48 kbit/s
                  <br>CBR or VBR mode
                  <br>Sample rate from 8 to 48 KHz
                  <br>Audio bandwidth: from 4 (narrowband) to 20 kHz (fullband)
                  <br>Server-side audio processing engine internally uses 32-bit float samples at 48 KHz mono or stereo
                  <br>Dynamically adjustable bitrate, audio bandwidth, and frame size</p>
									<p class="color-grey-light">Authentication:<p>
                  <p>Based on OAuth2 standard
                    <br>Built-in web-based authentication system</p>
                   <p class="color-grey-light">Extras:<p>
										<p>Multiple clients
										 <br>Bi-directional audio communication with clients
                     <br>Talkback
										 <br>All functions are available through REST or WebSocket API
										 <br>Open specification</p>
								</div>
							</div>
						</div>
						<div class="column width-5 offset-1">
							<div class="feature-content">
								<div class="feature-content-inner left horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<p class="color-grey-light">Networking:</p>
									<p>Client-server architecture
									<br>No servers required by default (servers are in the cloud)
									<br>No network setup required by default
									<br>Built-in NAT traversal (UDP hole punching)</p>
									<p class="color-grey-light">Latency:</p>
									<p>Default latency: 80 ms + network latency:
	                  <br> - Codec frame size: 20 ms
									  <br> - Receiver jitter buffer: 20 ms
										<br> - Server-side audio processing engine: 20ms
										<br> - Receiver transmission buffer: 20ms
										<br> - Network latency (60 ms on average in Central Europe)
										<br>Can be adjusted in the following range:
										<br> - Codec frame size: 2.5-60 ms
										<br> - Receiver jitter buffer: 5-1000 ms
										<br> - Receiver transmission buffer: 5-1000 ms
										<br> - Network latency: down to +/- 20 ms</p>
										<br>
										<p class="color-grey-light">Transport layer:</p>
										<p>Open standards: RTP (RFC 3550), RTSP 1.0 (RFC 2326)
                       <br>Transmission over UDP whenever possible with TCP fallback</p>
									  <p class="color-grey-light">Monitoring & management:</p>
										<p>100% web-based monitoring panel
                    <br>Support multiple users operating collaboratively
                    <br>Web-based peakmeter showing reference signal from the server
                    <br>Ability to adjust connection parameters via web browser during transmission</p>


								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 3 end -->
				<!-- Pricing Options -->

				<!-- Parallax Section End -->

				<!-- Logo Section 1 -->

				<!-- Logo Section 1 End -->

				<!-- Login Modal -->
				<div id="signup-lightbox" class="pt-70 pb-50 hide">
					<div class="row">
						<div class="column width-12 left">
							<div class="login-form-container">
								<div class="thumbnail mb-30">
									<img src="images/web-application/logo-dark.png" width="35" alt="" />
								</div>
								<h2 class="mb-20">Login &amp; Start Listening</h2>
								<p class="mb-30">Don't have an account? Choose a plan and sign up. <a href="#">See Plans</a>.</p>
								<form class="login-form" action="#" method="post" novalidate>
									<div class="row">
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="text" name="email" class="form-name form-element large" placeholder="E-mail" tabindex="1" required>
											</div>
										</div>
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="password" name="password" class="form-email form-element large" placeholder="Password" tabindex="2" required>
											</div>
										</div>
										<div class="column width-6">
											<input type="submit" value="Sign In" class="form-submit button medium bkg-charcoal bkg-hover-purple color-white color-hover-white no-margin-bottom">
										</div>
										<div class="column width-6 right left-on-mobile">
											<a class="recuperate-password pt-10" href="">Forgot Password?</a>
										</div>
									</div>
									<input type="text" name="honeypot" class="form-honeypot form-element">
								</form>
								<div class="form-response"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- Login Modal End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->
			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
