
	<body class="shop home-page">

			<div class="content clearfix">

				<!-- Feature Section 3 -->
				<section class="section-block feature-3 bkg-brown">
					<div class="row equalize">
						<div class="column width-5 push-6">
							<div class="feature-content">
								<div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
									<h1 class="color-white mb-20">Chronicle</h1>
									<p class="color-white">Your listener’s private YouTube</p>
									<!--<a class="button medium text-uppercase border-white bkg-hover-charcoal color-white color-hover-white left mb-50">
										<span class="icon-app-store left"></span>
									</a>-->
								</div>
							</div>
						</div>
						<div class="column width-5 pull-6 offset-2 center">
							<div class="feature-image">
								<div class="feature-image-inner pt-20 no-padding-on-mobile">
									<img src="images/stock/books-pile.jpg" width="400" alt=""/>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 3 -->

				<!-- Feature Section 3 -->
				<section class="section-block feature-3 bkg-grey-ultralight">
					<div class="row">
						<div class="column width-12 center">
							<h2 class="mb-80">Start Podcasting</h2>
						</div>
						<div class="column width-5 offset-1">
							<div class="feature-column medium left">
								<span class="feature-icon icon-adjust icon-circled medium bkg-pink color-white"></span>
								<div class="feature-text">
									<h6 class="weight-bold text-uppercase">We do tech - you do the content</h6>
									<p>Chronicle is designed for not loosing time, so editors can focus on content of their podcasts. </p>
								</div>
							</div>
						</div>
						<div class="column width-5">
							<div class="feature-column medium left">
								<span class="feature-icon icon-colours icon-circled medium bkg-pink color-white"></span>
								<div class="feature-text">
									<h6 class="weight-bold text-uppercase">We take care of legal stuff while you do content</h6>
									<p>You don't have to worry about royalties - it's all covered by attributing performers in episode content. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column width-5 offset-1">
							<div class="feature-column medium left">
								<span class="feature-icon icon-crop icon-circled medium bkg-pink color-white"></span>
								<div class="feature-text">
									<h6 class="weight-bold text-uppercase">Google Apps integration by default</h6>
									<p>Reach new audience thanks to marketing unavailable for streamed/broadcasted radio </p>
								</div>
							</div>
						</div>
						<div class="column width-5">
							<div class="feature-column medium left">
								<span class="feature-icon icon-eye icon-circled medium bkg-pink color-white"></span>
								<div class="feature-text">
									<h6 class="weight-bold text-uppercase">Use cases</h6>
									<p>Chronicle can work as your subpage with podcasts or as an independent radio website  </p>
								</div>
							</div>
						</div>
						<div class="column width-8 offset-2 center">
							<div class="thumbnail no-margin-bottom horizon" data-animate-in="opacity:0;transY:100;duration:1000;easing:easeFastSlow;" data-threshold="1">
								<img src="images/mobile-application/generic/iphone-isometric.jpg" width="1440" height="590" alt="">
							</div>
							<p class="transparent-element no-margin-bottom horizon" data-animate-in="opacity:0;transY:100;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="1">* Multi-touch crop screen in landscape mode</p>
						</div>
					</div>
				</section>
				<!-- Feature Section 3 -->

				<!-- Parallax Section

				Parallax Section End -->

				<!-- Portfolio Grid

				Portfolio Grid End -->

				<!-- Pricing Options -->
				<section class="section-block replicable-content">
					<div class="row">
						<div class="column width-4">
							<h2 class="mb-30">Keeping it Simple<br>With Two Plans</h2>
							<p class="lead">Simple, straightforward pricing options to suit everyone's needs.</p>
							<p class="mb-mobile-50">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="column width-8">
							<div class="pricing-table columns-2 border-white">
								<div class="pricing-table-column">
									<div class="pricing-table-header">
										<h2 class="weight-bold">Free Edition</h2>
									</div>
									<div class="pricing-table-price bkg-white color-charcoal">
										<h4>
											<span class="currency">$</span>0
										</h4>
									</div>
									<ul class="pricing-table-options">
										<li><strong>10GB</strong> Cloud Storage</li>
										<li><strong>5</strong> Galleries</li>
										<li><strong>0</strong> Add Ons</li>
										<li><strong>0</strong> Personalized Domains</li>
									</ul>
								</div>
								<div class="pricing-table-column callout bkg-pink color-white">
									<div class="pricing-table-header">
										<h2 class="weight-bold">Pro Edition</h2>
									</div>
									<div class="pricing-table-price bkg-pink color-white">
										<h4>
											<span class="currency">$</span>6.95
										</h4>
									</div>
									<ul class="pricing-table-options">
										<li><strong>20GB</strong> Cloud Storage</li>
										<li><strong>10</strong> Galleries</li>
										<li><strong>100</strong> Add Ons</li>
										<li><strong>1</strong> Personalized Domain</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Pricing Options End -->

				<!-- Sign Up Section 1

				Sign Up Section 1 End -->

				<!-- Sign Up Section 2

				Sign Up Section 2 End -->

				<!-- Stat Section 1

				Stat Section 1 -->

				<!-- Call to Action Section -->

				<!-- Call to Action Section End -->

				<!-- Logo Section 1

				Logo Section 1 End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->

			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="js/timber.master.min.js"></script>
