<section class="section-block featured-media page-intro tm-slider-parallax-container">
  <div class="tm-slider-container full-width-slider" data-parallax data-animation="slide" data-scale-under="1140">
    <ul class="tms-slides">
      <li class="tms-slide" data-image data-force-fit>
        <div class="tms-content">
          <div class="tms-content-inner left">
            <div class="row">
              <div class="column width-12">
                <h1 class="tms-caption color-white inline"
                  data-animate-in="opacity:0;transY:50px;duration:1000ms;delay:100ms;easing:easeFastSlow;"
                  data-no-scale>
                  Contact Us
                </h1>
              </div>
            </div>
          </div>
        </div>
        <img data-src="images/slider/contact-intro.jpg" data-retina src="images/blank.png" alt=""/>
      </li>
    </ul>
  </div>
</section>
<!-- Full Width Slider Section -->

<!-- About Intro -->
<div class="section-block replicable-content">
  <div class="row">
    <div class="column width-8 offset-2 center">
      <p class="lead">If you are interested in RadioKit products and you would like to know some details, subscribe or just share something with us - please fill form below </p>
    </div>
  </div>
</div>
<!-- About Intro End -->

<!--Contact Form -->
<section class="section-block replicable-content contact-2 no-padding-top">
  <div class="row">
    <div class="column width-8 offset-2 center">
      <h2 class="mb-30">What interest you?</h2>
      <div class="contact-form-container">
        <form class="contact-form" action="php/send-email.php" method="post" novalidate>
          <div class="row">
            <div class="column width-6">
              <input type="text" name="fname" class="form-fname form-element large" placeholder="Name*" tabindex="1" required>
            </div>
            <div class="column width-6">
              <input type="text" name="lname" class="form-lname form-element large" placeholder="Product" tabindex="2">
            </div>
            <div class="column width-6">
              <input type="email" name="email" class="form-email form-element large" placeholder="Email address*" tabindex="3" required>
            </div>
            <div class="column width-6">
              <input type="text" name="website" class="form-website form-element large" placeholder="Company" tabindex="4">
            </div>
            <div class="column width-6">
              <input type="text" name="honeypot" class="form-honeypot form-element large">
            </div>
          </div>
          <div class="row">
            <div class="column width-12 center">
              <textarea name="message" class="form-message form-element large" placeholder="Message*" tabindex="5" required></textarea>
              <input type="submit" value="Send Email" class="form-submit button medium bkg-black bkg-hover-pink color-white color-hover-white">
            </div>
          </div>
        </form>
        <div class="form-response center"></div>
      </div>
    </div>
  </div>
</section>
