
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Feature Section 1 -->
				<section class="section-block featured-media window-height tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-auto-advance data-auto-advance-interval="7000" data-speed="1300" data-progress-bar="false" data-nav-arrows="false" data-pause-on-hover="false" data-scale-under="1">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#2d3138" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white">Electron.</h1>
													<p class="lead mb-30 color-white">Broadcasting van in your pocket.</p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale
												>
													<br><br><a class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30">Learn More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/electron/electron+kozmic.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#2d3138" data-overlay-bkg-opacity="0.4" data-animation="scaleOut">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white mb-30">Electron</h1>
												</div>
												<div class="clear"></div>
												<span class="tms-caption icon-adjust medium color-white"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale></span>
												<span class="tms-caption icon-colours medium color-white"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:600ms;easing:easeFastSlow;"
													data-no-scale></span>
												<span class="tms-caption icon-crop medium color-white"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:700ms;easing:easeFastSlow;"
													data-no-scale></span>
												<span class="tms-caption icon-eye medium color-white"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:800ms;easing:easeFastSlow;"
													data-no-scale></span>
												<span class="tms-caption icon-play medium color-white"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:900ms;easing:easeFastSlow;"
													data-no-scale></span>
												<div class="clear"></div>
												<p class="tms-caption lead mt-30 mb-30 color-white"
													data-animate-in="opacity:0;transX:150px;duration:600ms;delay:900ms;easing:easeFastSlow;"
													data-no-scale>
													Exchange your expensive hardware codecs for software that can be run on smartphone or tablet.
												</p>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/electron/electron+mic+phones.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#2d3138" data-overlay-bkg-opacity="0.3" data-animation="slideTopBottom">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white">Electron</h1>
													<p class="lead mb-30 color-white">Revolution in audio over IP finally done</p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale
												>
													<a class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30">Test for free</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/electron/electron+closeup.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Feature Section 1 End -->

				<!-- Feature Column Section -->
				<div class="section-block replicable-content">
					<div class="row">
						<div class="column width-8 offset-2 center">
							<h2 class="mb-30">Exchange your hardware codecs for software</h2>
							<p class="lead mb-70">Think about first truly reliable audio over IP software on market</p>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-grey-ultralight">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-note color-purple"></span>
									<div class="feature-text">
										<h3>Works even over 2G networks</h3>
										<p class="mb-70 mb-mobile-30">needs only 20kbit/s to transmit speech in broadcasting quality</p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-play color-purple"></span>
									<div class="feature-text">
										<h3>Opus Codec on board</h3>
										<p class="mb-70 mb-mobile-30">Uses the state-of-art Opus codec (examples at <a href="https://www.opus-codec.org/comparison/" target="blank">Opus Codec</a>) </p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-play color-purple"></span>
									<div class="feature-text">
										<h3>Integration ready - API</h3>
										<p class="mb-70 mb-mobile-30">Has open, standards-based API making it ready for integration </p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-grey-ultralight">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-list color-purple"></span>
									<div class="feature-text">
										<h3>Truly Low latency</h3>
										<p>Default latency (can be adjusted) 80 ms + network latency (60ms on average in Central Europe)</p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-grey-ultralight">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-share color-purple"></span>
									<div class="feature-text">
										<h3>Web browser mangament</h3>
										<p>No additional hardware/infrastructure needed - all broadcast can be managed and monitored through a web browser panel </p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-share color-purple"></span>
									<div class="feature-text">
										<h3>Works out of the box</h3>
										<p> with multichannel soundcards including virtual IP drivers of digital consoles (especially Axia and Dante systems </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Feature Column Section End -->

				<!-- Feature Section 2 -->
				<section class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/web-application/generic/electron+closeup.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white">How it works:</h2>
									<p class="lead color-grey-light">Having a cloud sound engine allows to have multiple clients and remote management.</p>
									<p class="color-grey-light">Thanks to that you can install software on how many devices you want: smartphones, tablets, laptops, and while their in broadcasting mode - you can manage their sound sources through a web-browser.<br><br>
										 So you can just send journalist with "one-button-app" to the field and have sound engineer elswhere to manage their broadcast remotely.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 2 End -->

				<!-- Stat Section 1

				Stat Section 1 -->

				<!-- Feature Section 2 -->
				<section class="section-block bkg-grey-ultralight feature-2 right">
					<div class="row equalize">
						<div align="center"><h2 class="color-black">Now a tasty techtalk:</h2></div><br>
						<div class="column width-5 offset-1">
							<div class="feature-content">
								<div class="feature-content-inner left horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<p>- The near-to-zero latency combined with website control allows to take live broadcasting to a new era.</p>
                  <p>- Built upon Erlang – the language for building cellural networks. Using Real Time Protocol and Real Time Streaming Protocol over UDP – no more unreliable TCP connections and shoutcast streams.</p>
                  <p>- User interface based on React.JS – technology created by facebook, made for the best comfort of snappy, collaborational communication.</p>
								</div>
							</div>
						</div>
						<div class="column width-5 offset-1">
							<div class="feature-content">
								<div class="feature-content-inner left horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
                  <p>- No hardware needed – everything is a software. Moreover: software that's easy to integrate thanks to open web & mobile-ready APIs.</p>
                  <p>- Relies on well-tested cloud technologies and infrastructure: Amazon, Azure & Digital Ocean clouds & the biggest European datacenter: OVH.</p>
									<p>- State-of-the art Opus 1.1 codec that brings better quality than HE-AAC+1 with ultra low-latency and packet loss concaelment.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 2 End -->
        <!-- Feature Section 3 -->
				<section class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div align="center">	<h2 class="mb-30 color-white">Even more juicy specification:</h2></div><br>
						<div class="column width-5 offset-1">
							<div class="feature-content">
								<div class="feature-content-inner left horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
								<p class="color-grey-light">Supported operating systems & architectures:<p>
                <p>Android 4.1 or newer, devices with ARM processor
                <br>Windows 7 or newer, 64-bit
                <br>Mac OS X 10.10 or newer, 64-bit (coming soon)
                <br>Ubuntu Linux 14.04 LTS, 64-bit (coming soon)</p>
								<p class="color-grey-light">Codecs:<p>
									<p>Opus 1.1 (RFC 6716)
                  <br>Packet Loss Concealment enabled
                  <br>Error Correction enabled
                  <br>Bitrate from 5 to 510 kbit/s
                  <br> - speech has broadcastable quality at 24 kbit/s
                  <br> - music has broadcastable quality at 48 kbit/s
                  <br>CBR or VBR mode
                  <br>Sample rate from 8 to 48 KHz
                  <br>Audio bandwidth: from 4 (narrowband) to 20 kHz (fullband)
                  <br>Server-side audio processing engine internally uses 32-bit float samples at 48 KHz mono or stereo
                  <br>Dynamically adjustable bitrate, audio bandwidth, and frame size</p>
									<p class="color-grey-light">Authentication:<p>
                  <p>Based on OAuth2 standard
                    <br>Built-in web-based authentication system</p>
                   <p class="color-grey-light">Extras:<p>
										<p>Multiple clients
										 <br>Bi-directional audio communication with clients
                     <br>Talkback
										 <br>All functions are available through REST or WebSocket API
										 <br>Open specification</p>
								</div>
							</div>
						</div>
						<div class="column width-5 offset-1">
							<div class="feature-content">
								<div class="feature-content-inner left horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<p class="color-grey-light">Networking:</p>
									<p>Client-server architecture
									<br>No servers required by default (servers are in the cloud)
									<br>No network setup required by default
									<br>Built-in NAT traversal (UDP hole punching)</p>
									<p class="color-grey-light">Latency:</p>
									<p>Default latency: 80 ms + network latency:
	                  <br> - Codec frame size: 20 ms
									  <br> - Receiver jitter buffer: 20 ms
										<br> - Server-side audio processing engine: 20ms
										<br> - Receiver transmission buffer: 20ms
										<br> - Network latency (60 ms on average in Central Europe)
										<br>Can be adjusted in the following range:
										<br> - Codec frame size: 2.5-60 ms
										<br> - Receiver jitter buffer: 5-1000 ms
										<br> - Receiver transmission buffer: 5-1000 ms
										<br> - Network latency: down to +/- 20 ms</p>
										<br>
										<p class="color-grey-light">Transport layer:</p>
										<p>Open standards: RTP (RFC 3550), RTSP 1.0 (RFC 2326)
                       <br>Transmission over UDP whenever possible with TCP fallback</p>
									  <p class="color-grey-light">Monitoring & management:</p>
										<p>100% web-based monitoring panel
                    <br>Support multiple users operating collaboratively
                    <br>Web-based peakmeter showing reference signal from the server
                    <br>Ability to adjust connection parameters via web browser during transmission</p>


								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 3 end -->
				<!-- Pricing Options -->

				<!-- Parallax Section End -->

				<!-- Logo Section 1 -->

				<!-- Logo Section 1 End -->

				<!-- Login Modal -->
				<div id="signup-lightbox" class="pt-70 pb-50 hide">
					<div class="row">
						<div class="column width-12 left">
							<div class="login-form-container">
								<div class="thumbnail mb-30">
									<img src="images/web-application/logo-dark.png" width="35" alt="" />
								</div>
								<h2 class="mb-20">Login &amp; Start Listening</h2>
								<p class="mb-30">Don't have an account? Choose a plan and sign up. <a href="#">See Plans</a>.</p>
								<form class="login-form" action="#" method="post" novalidate>
									<div class="row">
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="text" name="email" class="form-name form-element large" placeholder="E-mail" tabindex="1" required>
											</div>
										</div>
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="password" name="password" class="form-email form-element large" placeholder="Password" tabindex="2" required>
											</div>
										</div>
										<div class="column width-6">
											<input type="submit" value="Sign In" class="form-submit button medium bkg-charcoal bkg-hover-purple color-white color-hover-white no-margin-bottom">
										</div>
										<div class="column width-6 right left-on-mobile">
											<a class="recuperate-password pt-10" href="">Forgot Password?</a>
										</div>
									</div>
									<input type="text" name="honeypot" class="form-honeypot form-element">
								</form>
								<div class="form-response"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- Login Modal End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->
			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
