
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Feature Section 1 -->
				<section class="section-block bkg-charcoal feature-1">
					<div class="row no-padding-bottom">
						<div class="column width-6 offset-3">
							<div class="feature-content">
								<div class="feature-content-inner pt-50">
									<h1 class="color-white">Electron</h1>
									<p class="lead mb-30 color-grey-light">Outside broadcasting van in your pocket</p>
									<a href="#" class="button medium bkg-purple border-hover-white color-white color-hover-white mb-70">
										<span class="icon-download left"></span>
										Download the application
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column width-12">
							<div class="feature-image">
								<img src="images/web-application/generic/electron+kozmic.jpg" alt="" />
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 1 End -->

				<!-- Feature Column Section -->
				<div class="section-block replicable-content">
					<div class="row">
						<div class="column width-8 offset-2 center">
							<h2 class="mb-30">Exchange your hardware codecs for software</h2>
							<p class="lead mb-70">Think about first truly reliable audio over IP software on market</p>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-grey-ultralight">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-note color-purple"></span>
									<div class="feature-text">
										<h3>Works even over 2G networks</h3>
										<p class="mb-70 mb-mobile-30">needs only 20kbit/s to transmit speech in broadcasting quality</p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-play color-purple"></span>
									<div class="feature-text">
										<h3>Opus Codec on board</h3>
										<p class="mb-70 mb-mobile-30">Uses the state-of-art Opus codec (examples at <a href="https://www.opus-codec.org/comparison/" target="blank">Opus Codec</a>) </p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-play color-purple"></span>
									<div class="feature-text">
										<h3>Integration ready - API</h3>
										<p class="mb-70 mb-mobile-30">Has open, standards-based API making it ready for integration </p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-grey-ultralight">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-list color-purple"></span>
									<div class="feature-text">
										<h3>Truly Low latency</h3>
										<p>Default latency (can be adjusted) 80 ms + network latency (60ms on average in Central Europe)</p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-grey-ultralight">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-share color-purple"></span>
									<div class="feature-text">
										<h3>Web browser mangament</h3>
										<p>No additional hardware/infrastructure needed - all broadcast can be managed and monitored through a web browser panel </p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-share color-purple"></span>
									<div class="feature-text">
										<h3>Works out of the box</h3>
										<p> with multichannel soundcards including virtual IP drivers of digital consoles (especially Axia and Dante systems </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Feature Column Section End -->

				<!-- Feature Section 2 -->
				<section class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/web-application/generic/laptop-right.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white">Make SoundWall Yours</h2>
									<p class="lead color-grey-light">A feature section is a great way of showcasing a particular feature, service or product.</p>
									<p class="color-grey-light">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 2 End -->

				<!-- Stat Section 1

				Stat Section 1 -->

				<!-- Feature Section 2 -->
				<section class="section-block bkg-grey-ultralight feature-2 right">
					<div class="row equalize">
						<div class="column width-6">
							<div class="feature-image">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:-50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/web-application/generic/laptop-left.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 offset-1">
							<div class="feature-content">
								<div class="feature-content-inner left horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30">From Desktop to Mobile</h2>
									<p class="lead">A feature section is a great way of showcasing a particular feature, service or product.</p>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 2 End -->

				<!-- Pricing Options -->
				<section class="section-block replicable-content">
					<div class="row">
						<div class="column width-6 offset-3 center">
							<h2>Music Plans</h2>
							<p class="lead mb-50">A plan for every music enthusiast <br>and professional muscian.</p>
						</div>
						<div class="column width-10 offset-1">
							<div class="pricing-table columns-3 horizon" data-animate-in="opacity:0;transY:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
								<div class="pricing-table-column">
									<div class="pricing-table-header">
										<h2 class="weight-bold">Starter Edition</h2>
									</div>
									<div class="pricing-table-price bkg-white color-grey no-margin-bottom">
										<h4>
											<span class="currency">$</span>2.99<span class="interval">/mo</span>
										</h4>
									</div>
									<ul class="pricing-table-options">
										<li>LowFi Sound Quality</li>
										<li>Online Listening</li>
										<li>Advertisng</li>
										<li>1000 Song Play limit</li>
										<li>200 Video Play limit</li>
									</ul>
									<div class="pricing-table-footer">
										<button class="border-purple bkg-hover-purple color-purple color-hover-white">Sign Up</button>
									</div>
								</div>
								<div class="pricing-table-column bkg-purple">
									<div class="pricing-table-header color-white">
										<h2 class="weight-bold">Premium Edition</h2>
									</div>
									<div class="pricing-table-price bkg-purple no-margin-bottom">
										<h4>
											<span class="currency">$</span>9.99<span class="interval">/mo</span>
										</h4>
									</div>
									<ul class="pricing-table-options color-white">
										<li>HiFi Sound Quality</li>
										<li>On/Offline Listening</li>
										<li>No Advertising</li>
										<li>Infinite Song Plays</li>
										<li>100K Video Play Limit</li>
									</ul>
									<div class="pricing-table-footer">
										<button class="border-white bkg-hover-white color-white color-hover-purple">Sign Up</button>
									</div>
								</div>
								<div class="pricing-table-column">
									<div class="pricing-table-header">
										<h2 class="weight-bold">Pro Edition</h2>
									</div>
									<div class="pricing-table-price bkg-white color-grey no-margin-bottom">
										<h4>
											<span class="currency">$</span>19.99<span class="interval">/mo</span>
										</h4>
									</div>
									<ul class="pricing-table-options">
										<li>HiFi Sound Quality</li>
										<li>On/Offline Listening</li>
										<li>No Advertising</li>
										<li>Infinite Song Plays</li>
										<li>300K Video Plays</li>
									</ul>
									<div class="pricing-table-footer">
										<button class="border-purple bkg-hover-purple color-purple color-hover-white">Sign Up</button>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-10 offset-1 center">
							<p class="transparent-element weight-bold">*Sign up for free - Upgrade to or Cancel any plan within 30 days</p>
						</div>
					</div>
				</section>
				<!-- Pricing Options End -->

				<!-- Sign Up Section 1
				<section class="section-block signup-1 bkg-white">
					<div class="row">
						<div class="column width-8 offset-2 center">
							<div class="signup-form-container">
								<h2 class="mb-50">35 Million Tracks &amp; Awesome Updates</h2>
								<form class="signup-form" action="php/subscribe.php" method="post" novalidate>
									<div class="row">
										<div class="column width-5">
											<div class="field-wrapper">
												<input type="text" name="fname" class="form-name form-element" placeholder="First Name" tabindex="1" required>
											</div>
										</div>
										<div class="column width-5">
											<div class="field-wrapper">
												<input type="email" name="email" class="form-email form-element" placeholder="Email address" tabindex="2" required>
											</div>
										</div>
										<div class="column width-2">
											<input type="submit" value="Signup" class="form-submit button bkg-charcoal bkg-hover-purple color-white color-hover-white">
										</div>
									</div>
									<input type="text" name="honeypot" class="form-honeypot form-element">
								</form>
								<div class="form-response show">We take your privacy seriously. No spamming here, promise!</div>
							</div>
						</div>
					</div>
				</section>
				Sign Up Section 1 End -->

				<!-- Sign Up Section 2
				<section class="section-block signup-2 signup-2-1 pt-140 pb-140">
					<div class="row">
						<div class="column width-5 left">
							<div class="signup-form-container">
								<h2 class="color-white">Get Notified Of Updates</h2>
								<p class="mb-30 color-white">Love music as much as we do? Sign up and get the latest updates and features before everyone else.</p>
								<form class="signup-form" action="php/subscribe.php" method="post" novalidate>
									<div class="row">
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="email" name="email" class="form-email form-element large" placeholder="Email address *" tabindex="2" required>
											</div>
										</div>
										<div class="column width-4 left">
											<input type="submit" value="Signup" class="form-submit button text-uppercase bkg-charcoal border-hover-white color-white color-hover-white">
										</div>
									</div>
									<input type="text" name="honeypot" class="form-honeypot form-element">
								</form>
								<div class="form-response show">No spamming here ;)</div>
							</div>
						</div>
					</div>
				</section>
				Sign Up Section 2 End -->

				<!-- Call to Action Section
				<div class="section-block replicable-content pt-60 pb-30 call-to-action-2 call-to-action-2-1 bkg-grey-ultralight background-cover">
					<div class="row">
						<div class="column width-6 offset-3 right">
							<p>Download SoundWall and start listening today!</p>
						</div>
						<div class="column width-6 offset-3 center">
							<button class="bkg-purple border-hover-white color-white color-hover-white medium mb-30">
								<span class="icon-download"></span>
								Download the Application
							</button>
						</div>
					</div>
				</div>
				Call to Action Section End -->

				<!-- Parallax Section -->
				<div class="parallax fixed-height" data-src="images/web-application/generic/hero-1.jpg" data-retina>
					<div class="tmp-content">
						<div class="tmp-content-inner left">
							<div class="row">
								<div class="column width-6 left center-on-mobile color-white">
									<h2 class="title-medium">Rated Best App 2014 <span class="icon-star small"></span><span class="icon-star small"></span><span class="icon-star small"></span><span class="icon-star small"></span><span class="icon-star small"></span></h2>
									<p class="lead hide-on-mobile no-margin-bottom transparent-element"><em>By Rolling Stone &amp; Billboard Magainze</em></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Parallax Section End -->

				<!-- Logo Section 1 -->
				<div class="section-block logos-1 pt-50 pb-50 bkg-grey-ultralight color-charcoal">
					<div class="row">
						<div class="column width-3 center-on-mobile">
							<h3 class="mb-5 mb-mobile-30">They're talking about us</h3>
						</div>
						<div class="column width-9">
							<div class="row content-grid-4">
								<div class="grid-item">
									<a href="#">
										<img src="images/logos/sawards-logo-grey-grid.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/logos/cssawd-logo-grey-grid.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/logos/designus-logo-grey-grid.svg" alt=""/>
									</a>
								</div>
								<div class="grid-item">
									<a href="#">
										<img src="images/logos/codeawd-logo-grey-grid.svg" alt=""/>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Logo Section 1 End -->

				<!-- Login Modal -->
				<div id="signup-lightbox" class="pt-70 pb-50 hide">
					<div class="row">
						<div class="column width-12 left">
							<div class="login-form-container">
								<div class="thumbnail mb-30">
									<img src="images/web-application/logo-dark.png" width="35" alt="" />
								</div>
								<h2 class="mb-20">Login &amp; Start Listening</h2>
								<p class="mb-30">Don't have an account? Choose a plan and sign up. <a href="#">See Plans</a>.</p>
								<form class="login-form" action="#" method="post" novalidate>
									<div class="row">
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="text" name="email" class="form-name form-element large" placeholder="E-mail" tabindex="1" required>
											</div>
										</div>
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="password" name="password" class="form-email form-element large" placeholder="Password" tabindex="2" required>
											</div>
										</div>
										<div class="column width-6">
											<input type="submit" value="Sign In" class="form-submit button medium bkg-charcoal bkg-hover-purple color-white color-hover-white no-margin-bottom">
										</div>
										<div class="column width-6 right left-on-mobile">
											<a class="recuperate-password pt-10" href="">Forgot Password?</a>
										</div>
									</div>
									<input type="text" name="honeypot" class="form-honeypot form-element">
								</form>
								<div class="form-response"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- Login Modal End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->
			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="js/timber.master.min.js"></script>
