
<body class="shop home-page">

			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Fullscreen Sections -->
				<section class="fullscreen-sections-wrapper">
					<div id="fs-1" class="section-block fullscreen-section">
						<div class="background-slider-wrapper">
							<!-- Fullscreen Slider -->
							<div class="tm-slider-container fullscreen" data-featured-slider data-fs-use-height="parent" data-auto-advance data-auto-advance-interval="4000" data-pause-on-hover="false" data-progress-bar="false" data-nav-arrows="false" data-nav-pagination="false" data-speed="2800" data-animation="fade" data-scale-under="1">
								<ul class="tms-slides">
									<li class="tms-slide" data-image data-force-fit>
										<img data-src="images/travel-agency/slider/slide-6-fs.jpg" data-retina src="images/blank.png" alt=""/>
									</li>
								</ul>
							</div>
							<!-- Fullscreen Slider End -->
						</div>
						<div class="fullscreen-inner">
							<div class="row">
								<div class="column width-10 pt-50 offset-1 center horizon" data-animate-in="opacity:0;transY:50;duration:1000ms;easing:easeFastSlow;" data-threshold="1">
									<h5 class="text-uppercase lspacing-small mb-10 weight-bold color-white">Who goes with</h5>
									<div class="clear"></div>
									<h1 class="title-xlarge no-padding-on-mobile text-uppercase lspacing-medium mb-20 weight-bold color-white">RadioKit</h1>
									<div class="row">
										<div class="column width-6 offset-3 weight-light">
											<p class="color-white text-small">must be definetely a nice chap and a good fellow.</p>
											<!--<a class="lightbox-link icon-circled icon-play medium border-white color-white color-hover-white bkg-hover-purple  text-line-vertical" data-lightbox-animation="fade" href="http://player.vimeo.com/video/94614809?autoplay=1"></a>-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="fs-2" class="section-block fullscreen-section background-cover background-fixed content-below-on-mobile" data-width="2500" data-height="1667">
						<!-- Fullscreen Image -->
						<div class="background-image-wrapper">
							<div class="background-image fullscreen-bkg-2"></div>
						</div>
						<!-- Fullscreen Image End -->
						<div class="fullscreen-inner">
							<div class="row">
								<div class="column width-12 center color-white horizon" data-animate-in="opacity:0;transX:-50;duration:1500ms;delay:200ms;easing:easeFastSlow;" data-threshold="1">
									<h6 class="lead no-margin-bottom text-uppercase lspacing-small">broadcasting van in your pocket</h6>
									<h1 class="title-large mb-10 mb-mobile-30 no-padding-on-mobile text-uppercase weight-bold lspacing-small">Electron</h1>
									<div class="row">
										<div class="column width-6 offset-3 center">
											<p class="text-medium"><em>from</em> $100 per month</p>
											<a href="product-subpage.html" class="button text-uppercase bkg-purple border-hover-white color-white color-hover-white mb-mobile-30">Find Out More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="fs-3" class="section-block fullscreen-section background-cover background-fixed content-below-on-mobile" data-width="2500" data-height="1667">
						<!-- Fullscreen Image -->
						<div class="background-image-wrapper">
							<div class="background-image fullscreen-bkg-2"></div>
						</div>
						<!-- Fullscreen Image End -->
						<div class="fullscreen-inner">
							<div class="row">
								<div class="column width-12 center color-white horizon" data-animate-in="opacity:0;transX:-50;duration:1500ms;delay:200ms;easing:easeFastSlow;" data-threshold="1">
									<h6 class="lead no-margin-bottom text-uppercase lspacing-small">Keeps your shows fresh!</h6>
									<h1 class="title-large mb-10 mb-mobile-30 no-padding-on-mobile text-uppercase weight-bold lspacing-small">Freezer</h1>
									<div class="row">
										<div class="column width-6 offset-3 center">
											<p class="text-medium"><em>from</em> $100 per month</p>
											<a href="product-subpage.html" class="button text-uppercase bkg-purple border-hover-white color-white color-hover-white mb-mobile-30">Find Out More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="fs-4" class="section-block fullscreen-section background-cover background-fixed content-below-on-mobile" data-width="2500" data-height="1667">
						<!-- Fullscreen Image -->
						<div class="background-image-wrapper">
							<div class="background-image fullscreen-bkg-3"></div>
						</div>
						<!-- Fullscreen Image End -->
						<div class="fullscreen-inner">
							<div class="row">
								<div class="column width-12 center color-white horizon" data-animate-in="opacity:0;transX:50;duration:1500ms;delay:200ms;easing:easeFastSlow;" data-threshold="1">
									<h6 class="lead no-margin-bottom text-uppercase lspacing-small">your listener’s private YouTube</h6>
									<h1 class="title-large mb-10 mb-mobile-30 no-padding-on-mobile text-uppercase weight-bold lspacing-small">Chronicle</h1>
									<div class="row">
										<div class="column width-6 offset-3 center">
											<p class="text-medium"><em>from</em> $80 per month</p>
											<a href="product-subpage.html" class="button text-uppercase bkg-purple border-hover-white color-white color-hover-white mb-mobile-30">Find Out More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="fs-5" class="section-block fullscreen-section background-cover background-fixed content-below-on-mobile" data-width="2500" data-height="1667">
						<!-- Fullscreen Image -->
						<div class="background-image-wrapper">
							<div class="background-image fullscreen-bkg-4"></div>
						</div>
						<!-- Fullscreen Image End -->
						<div class="fullscreen-inner">
							<div class="row">
								<div class="column width-12 center color-white horizon" data-animate-in="opacity:0;transX:-50;duration:1500ms;delay:200ms;easing:easeFastSlow;" data-threshold="1">
									<h6 class="lead no-margin-bottom text-uppercase lspacing-small">The most missing feature of the Icecast streaming server</h6>
									<h1 class="title-large mb-10 mb-mobile-30 no-padding-on-mobile text-uppercase weight-bold lspacing-small">Switch</h1>
									<div class="row">
										<div class="column width-6 offset-3 center">
											<p class="text-medium"> 10$ per month</p>
											<a href="product-subpage.html" class="button text-uppercase bkg-purple border-hover-white color-white color-hover-white mb-mobile-30">Find Out More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Fullscreen Sections End -->

				<!-- Hero Section 5
				<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-purple color-white">
					<div class="media-column width-6"></div>
					<div class="row">
						<div class="column width-6">
							<div class="hero-content split-hero-content">
								<div class="hero-content-inner left">
									<h3 class="mb-50">What Our User Say</h3>
									<div id="testimonial-slider-1" class="testimonial-slider tm-slider-container">
										<ul class="tms-slides">
											<li class="tms-slide" data-image>
												<div class="tms-content-scalable">
													<div class="row">
														<div class="column width-12">
															<blockquote class="small">
																<p>Incredible work! Best creative experience ever; timely, well executed and one hell of the result. Would recommend Nietszche to anyone who is looking to revamp their identity.
																	<cite>John K. Riley - Harvest Goods.</cite>
																</p>
															</blockquote>
														</div>
													</div>
												</div>
											</li>
											<li class="tms-slide" data-image>
												<div class="tms-content-scalable">
													<div class="row">
														<div class="column width-12">
															<blockquote class="small">
																<p>A five star agency without doubt. Hire them!
																	<cite>John A. Adams - Repetition</cite>
																</p>
															</blockquote>
														</div>
													</div>
												</div>
											</li>
											<li class="tms-slide" data-image>
												<div class="tms-content-scalable">
													<div class="row">
														<div class="column width-12">
															<blockquote class="small">
																<p>Creativity redefined. These guys offer a unique approach to every aspect of design and the result is simply stunning.
																	<cite>Jane Lariken - MUD Clothing.</cite>
																</p>
															</blockquote>
														</div>
													</div>
												</div>
											</li>
											<li class="tms-slide" data-image>
												<div class="tms-content-scalable">
													<div class="row">
														<div class="column width-12">
															<blockquote class="small">
																<p>Design, design and redesign is their motto. Conrad won't stop until they have the perfect match between functionality and esthetic.
																	<cite>Jack Tromso - Orcha Co.</cite>
																</p>
															</blockquote>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				Hero Section 5 End -->

				<!-- Pricing Options -->
				
				<!-- Pricing Options End -->

				<!-- Stat Section 1
				<div class="section-block stats-1 stats-1-1 left color-white">
					<div class="row">
						<div class="column width-12">
							<div class="row content-grid-3">
								<div class="grid-item">
									<h4>Why Choose Us</h4>
									<p>We continously keep adding new and exciting destinations for great prices. We're the fastest growing travel site in the industry.</p>
								</div>
								<div class="grid-item">
									<h4 class="mt-mobile-30">Distanced Travelled</h4>
									<div class="divider bkg-white transparent-element no-margins"></div>
									<div class="stat">
										<div class="stat-inner pt-20">
											<p class="counter"><span class="stat-counter" data-count-from="1293729" data-count-to="1293999">1,293,729</span></p>
											<p class="description">Miles Travelled since 2013</p>
										</div>
									</div>
								</div>
								<div class="grid-item">
									<h4>New Destinations Added</h4>
									<div class="divider bkg-white transparent-element no-margins"></div>
									<div class="stat">
										<div class="stat-inner pt-20">
											<p class="counter"><span class="stat-counter" data-count-from="430000" data-count-to="430403">430,000</span></p>
											<p class="description">Destinations Since 2013</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				Stat Section 1 -->

				<!-- Sign Up Section 2
				<div class="section-block signup-2 signup-2-1">
					<div class="row">
						<div class="column width-8 offset-2 center">
							<div class="signup-form-container">
								<p class="text-medium weight-light color-white font-alt-1">Never miss an offer again! Get the guide by e-mail.</p>
								<form class="signup-form" action="php/subscribe.php" method="post" novalidate>
									<div class="row">
										<div class="column width-9">
											<div class="field-wrapper">
												<input type="email" name="email" class="form-email form-element large" placeholder="Email address *" tabindex="2" required>
											</div>
										</div>
										<div class="column width-3">
											<input type="submit" value="Signup" class="form-submit button large bkg-purple bkg-hover-charcoal color-white color-hover-white">
										</div>
									</div>
									<input type="text" name="honeypot" class="form-honeypot form-element">
								</form>
								<div class="form-response">We Don't Spam, promise!</div>
							</div>
						</div>
					</div>
				</div>
				Sign Up Section 2 End -->

				<!-- Call to Action Section -->
				<div class="section-block replicable-content pt-60 pb-30 call-to-action-2 call-to-action-2-1 bkg-grey-ultralight background-cover">
					<div class="row">
						<div class="column width-6 offset-1 right center-on-mobile">
							<p>Never miss a special offer ever again!</p>
						</div>
						<div class="column width-4 left center-on-mobile">
							<a href="#" class="button text-uppercase bkg-purple border-hover-white color-white color-hover-white mb-mobile-30">Newsletter Signup</a>
						</div>
					</div>
				</div>
				<!-- Call to Action Section End -->

				<!-- Login Modal -->
				<div id="login-lightbox" class="pt-70 pb-50 hide">
					<div class="row">
						<div class="column width-12 left">
							<div class="login-form-container">
								<h3 class="mb-20">Login</h3>
								<p class="mb-30">Don't have an account? Choose a plan and sign up. <a href="#">See Plans</a>.</p>
								<form class="login-form" action="#" method="post" novalidate>
									<div class="row">
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="text" name="email" class="form-name form-element large" placeholder="E-mail" tabindex="1" required>
											</div>
										</div>
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="password" name="password" class="form-email form-element large" placeholder="Password" tabindex="2" required>
											</div>
										</div>
										<div class="column width-6">
											<input type="submit" value="Sign In" class="form-submit button medium bkg-purple bkg-hover-charcoal color-white color-hover-white no-margin-bottom">
										</div>
										<div class="column width-6 right left-on-mobile">
											<a class="recuperate-password pt-10" href="">Forgot Password?</a>
										</div>
									</div>
									<input type="text" name="honeypot" class="form-honeypot form-element">
								</form>
								<div class="form-response color-white"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- Login Modal End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->

			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="javascripts/timber.master.min.js"></script>
